@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,600&display=swap");

* {
  box-sizing: border-box;
}

header {
  display: inline;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 50px;
  overflow: auto;
}

h2,
h3 {
  color: #383e56;
}

footer {
  padding: 20px;
  color: white;
  background-color: #383e56;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  background-color: #9fb8ad;
  padding: 4px 4px 4px 4px;
  border-radius: 5px;
  transition: 0.2s;
}

.profile header {
  text-align: center;
}

footer {
  padding: 20px;
  color: white;
  background-color: #383e56;
  text-align: center;
  font-weight: bold;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  vertical-align: middle;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 50px;
  margin-top: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 20px;
  background-color: #383e56;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
  padding: 15px;
}

nav {
  background-color: #383e56;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.picture-sub {
  width: 150px;
  height: 150px;
}
.display-flex {
  display: flex;
}
.description {
  margin-left: 27px;
}
.list-category {
  padding: 5px;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.dropdown-content {
  background-color: white;
  position: absolute;
  left: 95vh;
  bottom: -75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.list-dropdown {
  display: block;
  padding: 10px;
}
.dropdown-content ul li a {
  color: black;
}
.dropdown-content ul li a:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
}
.aside-content h2 {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .display-flex {
    display: block;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .icon-collapse {
    position: absolute;
    right: 5%;
    top: 20%;
    cursor: pointer;
  }

  nav li {
    display: flex;
    position: relative;
    top: 100%;
    right: 10px;
    justify-content: center;
    text-align: center;
  }
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
